.mission {
    color: orange;
    font-weight: bold;
    margin: 0;
}

body {
    font-family: 'Titillium Web', sans-serif;
    margin-left: 150px;
    margin-right: 150px;
}

.flexible-container {
    display: flex;

    justify-content: center;
    margin-bottom: 100px;
}

.illustrator-group {
    margin: 30px;
}

.illustrator-width {
    margin-left: 20px;
    margin-right: 20px;
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 10%;
}

.illustrator-width img {
    width: 40%;
}

.half-width {
    width: 50%;
}

.person1 {
    height: 600px;
    width: 480px;
}

.heading1 {
    font-size: 38px;
    border-left: 7px solid salmon;
    padding-top: 0px;
}

.heading1 h1 {
    margin-left: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}

a {
    text-decoration-line: none;
    color: white;
    background-image: linear-gradient(tomato, tomato);
    padding: 10px 15px;
    border-radius: 5px;
}

.par1 {
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 50px;
}


.develop-limit {
    margin-left: 50px;
    margin-right: 100px;
}

.develop-limit h1 {
    margin: 0;
    font-size: 40px;
}

.back1 {
    margin-left: 20px;
}

footer {
    background-color: black;
    text-align: center;
    color: whitesmoke;
    padding: 20px;
}

footer p {
    color: antiquewhite;
}